:root {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

body {
	display: grid;
	gap: 30px;
	grid:
		"title"
		"decoded-text"
		"input-buttons"
		"encoded-text";
	justify-content: center;
	margin: 25px;
	place-items: center;
}

textarea {
	resize: none;
}

#title {
	grid-area: title;
	margin: 0;
}

#dcodedTxt {
	grid-area: decoded-text;
}

#inputAndButtons {
	align-items: center;
	display: flex;
	grid-area: input-buttons;
	justify-content: space-evenly;
	width: 100%;
}

#offsetNum {
	width: 42px;
}

#encodeBtn {
	width: 64px;
}

#decodeBtn {
	width: 64px;
}

#ncodedTxt {
	grid-area: encoded-text;
}